<p id="notice"><%= notice %></p>

<p>
  <%= @snippet.snippet_text %>
</p>

<input type="link" name="link" placeholder="Insert link"   value=<%= request.host_with_port %>/<%= @snippet.share_url%> required class="form-control" 0>